.header {
    width: 100%;

    padding: 1rem 2rem;

    background: white;
}

.header h1 {
    margin: 0;

    padding: 0.5rem 1rem;

    font-size: 1.25rem;

    background: black;
    color: white;

    border-radius: 0.4rem;
}

.header input[type="search"] {
    margin-left: 1rem;

    font-size: 1rem;

    padding: 0.5rem;

    border-radius: 0.25rem;

    background: #f9fafa;
}

.header .btn.btn-link {
    color: #3b49df;

    text-decoration: none;
}

.header .btn.btn-primary {
    background: #3b49df;
}